
.react-multiple-carousel__arrow::before {
    left: 0px;

  }
  /* .react-multiple-carousel__arrow{
    border:1px solid red;
    /* top: 20px; */
    /* margin: -80px; */
  /* } */ 
  
  .react-multi-carousel-list {
    overflow: visible;
  }
.category{
  padding-right: 30px;
}
.abs{
  margin-top:200px
}
.categorycrausel{
  padding-right: 80px;
  padding-left: 80px;
  background-color:#1B1B1B;
  margin-top:0px
}